.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}


.spacer {
  flex: 1 1 auto;
}

.draggable {
  -webkit-app-region: drag;
}

.draggable {
  & a, button, .sidenav {
    -webkit-app-region: no-drag;
  }
}

.title-bar {
  background: var(--mat-sys-on-secondary);
  color: var(--mat-sys-on-surface);
  padding: 0.25rem;
  display: flex;
  justify-content: space-around;
}

.title-bar .title {
  display: flex;
  flex: 1;
  text-align: center;

  & span {
    margin: 0.1rem;
  }

  & .version {
    justify-content: center;
  }
}

.title-bar .action-btn {
 height: 100%;
 padding: 0 0.5rem 0;
 align-content: center;

 &:hover {
   background: var(--mat-sys-inverse-primary);
   color: var(--mat-sys-on-surface);
 }
}
