@if (isElectron) {
  <div class="title-bar draggable">
    <span class="title">
      <img src="logo.png" alt="Yoke logo" width="20rem" />
      <span>Yoke</span>
      <span class="version">v{{ appVersion }}</span>
    </span>
    <span class="spacer"></span>
    <button
      type="button"
      aria-label="Minimize"
      class="action-btn"
      (click)="minimize()"
      ><mat-icon>minimize</mat-icon></button>
    <button
      type="button"
      aria-label="Maximize"
      class="action-btn"
      (click)="maximize()"
      ><mat-icon>maximize</mat-icon></button>
      <button
        type="button"
        aria-label="Close"
        class="action-btn"
        (click)="close()"
        ><mat-icon>close</mat-icon></button>
  </div>
}
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: !(isTablet | async) }"
    [attr.role]="(isTablet | async) ? 'dialog' : 'navigation'"
    [mode]="(isTablet | async) ? 'over' : 'side'"
    [opened]="!(isTablet | async)"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (item of routes; track $index) {
      <a
        mat-list-item
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        {{ item.title }}
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="draggable">
      @if (isTablet | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }

      @if (!(isTablet | async)) { @for (item of routes; track $index) {
      <a
        mat-button
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        {{ item.title }}
      </a>
      } }

      <span class="spacer"></span>

      <img src="logo.png" alt="Yoke logo" width="40rem" />
      <span>Yoke</span>
      <span class="spacer"></span>

      @if (!(isTablet | async)) {
        <button
          mat-button
          [routerLink]="['/auth/sign-in']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >Sign In</button>
        <button
          mat-button
          [routerLink]="['/auth/sign-up']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >Sign up</button>
      }
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
